
span.doortext {
    filter: drop-shadow(3px 3px 3px rgb(158, 158, 150)); /* Xオフセット, Yオフセット, ぼかし半径, 色 */
}
span.windowtext {
    filter: drop-shadow(3px 3px 3px rgb(151, 151, 133)); /* Xオフセット, Yオフセット, ぼかし半径, 色 */
}

h1 {
 width:80%;
 Margin:70px auto 30px;
 Padding:0;
}

.titletype {
 Width:	100%;
 filter: drop-shadow(3px 3px 5px rgb(145, 148, 129)); /* Xオフセット, Yオフセット, ぼかし半径, 色 */
}

.catchcopy {
 Text-align:center;
 Color:#666666;
 Width:98%;
 Padding:3px 25px;
 Margin:0 auto;
}

div.title{
background-image: linear-gradient(#b8b8b2, #ededdf 15% 64%, #e0e0a6);
}

div.titleimg{
 background-image: url(../images/bg-title.png);
 background-repeat:repeat;
 background-size:60%;
 padding: 50px 20px 100px;
}

div.door{
    background-color: #deddc2;
    background-image: linear-gradient(#c2c08f, #ededdf 50%, #c2c08f);
}
div.doorimg{
 background-image: url(../images/bg-title2.png);
 background-repeat:repeat;
 background-size:35%;
 background-position:0px 900px;
 padding: 80px 20px 120px;
}

div.window{
    background-color: #b5b592; 
    background-image: linear-gradient(#989870, #cdcdae 50%, #989870);
}
div.windowimg{
 background-image: url(../images/bg-title3.png);
 background-repeat:repeat;
 background-size:25%;
 background-position:0px 105px;
 padding: 80px 20px 120px;
}

h2 {
 width: 40%;
 Margin:30px auto 30px;
 Padding:0;
}

.bt {
 Width:	100%;
}

ul {
    clear: both;
}

li.illust {
 width: 30%;
 float: left;
 margin-right: 5%;
 display: block;
 background-image: url(../images/illust-ov.png);
 background-repeat: no-repeat;
 background-size: contain;
}

li.poem {
 width: 30%;
 float: left;
 margin-right: 5%;
 display: block;
 background-image: url(../images/poem-ov.png);
 background-repeat: no-repeat;
 background-size: contain;
}

li.haiku {
 width: 30%;
 float: left;
 margin-right: 0;
 display: block;
 background-image: url(../images/haiku-ov.png);
 background-repeat: no-repeat;
 background-size: contain;
}

div.sns-area{
clear: both;
padding-bottom: 50px;
}

div.instagram {
 width: 50%;
 float: left;
 display: block;
 margin-bottom:10px;
}
div.x {
 width: 50%;
 float: left;
 margin-right: 0px;
 display: block;
 margin-bottom:10px;
}
div.logo {
 width: 120px;
 margin:0 auto;
 display: block;
 height: 120px;
}
div.tx {
 width: 100%;
 text-align: center;
 display: block;
 Font-size:0.8em;
 margin-bottom:10px;
}
.instagram{width:75%;}
.x{width:75%;}

.instagra-logo{width:75%;}
.x-logo{width:75%;}

a.illust:link{
    display: inline-block;
}
a.illust:hover{
    background-color: transparent;
}
a.illust:hover img{
visibility: hidden;
}

a.poem:link{
    display: inline-block;
}
a.poem:hover{
    background-color: transparent;
}
a.poem:hover img{
visibility: hidden;
}

a.haiku:link{
    display: inline-block;
}
a.haiku:hover{
    background-color: transparent;
}
a.haiku:hover img{
visibility: hidden;
}

/***************************************************
 * Generated by SVG Artista on 11/16/2025, 5:30:34 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-fill-1 0.7s ease-in 0.5s both;
          animation: animate-svg-fill-1 0.7s ease-in 0.5s both;
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-fill-2 0.7s ease-in 0.6s both;
          animation: animate-svg-fill-2 0.7s ease-in 0.6s both;
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-fill-3 0.7s ease-in 0.7s both;
          animation: animate-svg-fill-3 0.7s ease-in 0.7s both;
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-fill-4 0.7s ease-in 0.8s both;
          animation: animate-svg-fill-4 0.7s ease-in 0.8s both;
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-fill-5 0.7s ease-in 0.9s both;
          animation: animate-svg-fill-5 0.7s ease-in 0.9s both;
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-fill-6 0.7s ease-in 1s both;
          animation: animate-svg-fill-6 0.7s ease-in 1s both;
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-fill-7 0.7s ease-in 1.1s both;
          animation: animate-svg-fill-7 0.7s ease-in 1.1s both;
}

@-webkit-keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-8 {
  -webkit-animation: animate-svg-fill-8 0.7s ease-in 1.2000000000000002s both;
          animation: animate-svg-fill-8 0.7s ease-in 1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-9 {
  -webkit-animation: animate-svg-fill-9 0.7s ease-in 1.3s both;
          animation: animate-svg-fill-9 0.7s ease-in 1.3s both;
}

@-webkit-keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-10 {
  -webkit-animation: animate-svg-fill-10 0.7s ease-in 1.4s both;
          animation: animate-svg-fill-10 0.7s ease-in 1.4s both;
}

@-webkit-keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-11 {
  -webkit-animation: animate-svg-fill-11 0.7s ease-in 1.5s both;
          animation: animate-svg-fill-11 0.7s ease-in 1.5s both;
}

@-webkit-keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-12 {
  -webkit-animation: animate-svg-fill-12 0.7s ease-in 1.6s both;
          animation: animate-svg-fill-12 0.7s ease-in 1.6s both;
}

@-webkit-keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-13 {
  -webkit-animation: animate-svg-fill-13 0.7s ease-in 1.7000000000000002s both;
          animation: animate-svg-fill-13 0.7s ease-in 1.7000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-14 {
  -webkit-animation: animate-svg-fill-14 0.7s ease-in 1.8s both;
          animation: animate-svg-fill-14 0.7s ease-in 1.8s both;
}

@-webkit-keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-15 {
  -webkit-animation: animate-svg-fill-15 0.7s ease-in 1.9000000000000001s both;
          animation: animate-svg-fill-15 0.7s ease-in 1.9000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-16 {
  -webkit-animation: animate-svg-fill-16 0.7s ease-in 2s both;
          animation: animate-svg-fill-16 0.7s ease-in 2s both;
}

@-webkit-keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-17 {
  -webkit-animation: animate-svg-fill-17 0.7s ease-in 2.1s both;
          animation: animate-svg-fill-17 0.7s ease-in 2.1s both;
}

@-webkit-keyframes animate-svg-fill-18 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-18 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-18 {
  -webkit-animation: animate-svg-fill-18 0.7s ease-in 2.2s both;
          animation: animate-svg-fill-18 0.7s ease-in 2.2s both;
}

@-webkit-keyframes animate-svg-fill-19 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-19 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-19 {
  -webkit-animation: animate-svg-fill-19 0.7s ease-in 2.3s both;
          animation: animate-svg-fill-19 0.7s ease-in 2.3s both;
}

@-webkit-keyframes animate-svg-fill-20 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-20 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-20 {
  -webkit-animation: animate-svg-fill-20 0.7s ease-in 2.4000000000000004s both;
          animation: animate-svg-fill-20 0.7s ease-in 2.4000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-21 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-21 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-21 {
  -webkit-animation: animate-svg-fill-21 0.7s ease-in 2.5s both;
          animation: animate-svg-fill-21 0.7s ease-in 2.5s both;
}

@-webkit-keyframes animate-svg-fill-22 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-22 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-22 {
  -webkit-animation: animate-svg-fill-22 0.7s ease-in 2.6s both;
          animation: animate-svg-fill-22 0.7s ease-in 2.6s both;
}

@-webkit-keyframes animate-svg-fill-23 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-23 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-23 {
  -webkit-animation: animate-svg-fill-23 0.7s ease-in 2.7s both;
          animation: animate-svg-fill-23 0.7s ease-in 2.7s both;
}

@-webkit-keyframes animate-svg-fill-24 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-24 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-24 {
  -webkit-animation: animate-svg-fill-24 0.7s ease-in 2.8000000000000003s both;
          animation: animate-svg-fill-24 0.7s ease-in 2.8000000000000003s both;
}

@-webkit-keyframes animate-svg-fill-25 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-25 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-25 {
  -webkit-animation: animate-svg-fill-25 0.7s ease-in 2.9000000000000004s both;
          animation: animate-svg-fill-25 0.7s ease-in 2.9000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-26 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-26 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-26 {
  -webkit-animation: animate-svg-fill-26 0.7s ease-in 3s both;
          animation: animate-svg-fill-26 0.7s ease-in 3s both;
}

@-webkit-keyframes animate-svg-fill-27 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-27 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-27 {
  -webkit-animation: animate-svg-fill-27 0.7s ease-in 3.1s both;
          animation: animate-svg-fill-27 0.7s ease-in 3.1s both;
}

@-webkit-keyframes animate-svg-fill-28 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-28 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-28 {
  -webkit-animation: animate-svg-fill-28 0.7s ease-in 3.2s both;
          animation: animate-svg-fill-28 0.7s ease-in 3.2s both;
}

@-webkit-keyframes animate-svg-fill-29 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-29 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-29 {
  -webkit-animation: animate-svg-fill-29 0.7s ease-in 3.3000000000000003s both;
          animation: animate-svg-fill-29 0.7s ease-in 3.3000000000000003s both;
}

@-webkit-keyframes animate-svg-fill-30 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-30 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-30 {
  -webkit-animation: animate-svg-fill-30 0.7s ease-in 3.4000000000000004s both;
          animation: animate-svg-fill-30 0.7s ease-in 3.4000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-31 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-31 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-31 {
  -webkit-animation: animate-svg-fill-31 0.7s ease-in 3.5s both;
          animation: animate-svg-fill-31 0.7s ease-in 3.5s both;
}

@-webkit-keyframes animate-svg-fill-32 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-32 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-32 {
  -webkit-animation: animate-svg-fill-32 0.7s ease-in 3.6s both;
          animation: animate-svg-fill-32 0.7s ease-in 3.6s both;
}
