
span.doortext {
    filter: drop-shadow(3px 3px 3px rgb(158, 158, 150)); /* Xオフセット, Yオフセット, ぼかし半径, 色 */
}
span.windowtext {
    filter: drop-shadow(3px 3px 3px rgb(151, 151, 133)); /* Xオフセット, Yオフセット, ぼかし半径, 色 */
}

p.topcatch{margin-bottom: 40px;
line-height: 2.0;}

h1 {
 width:80%;
 Margin:70px auto 50px;
 Padding:0;
}

h1.profile{
width:30%;
margin:70px auto 70px;
}

p.profile{
font-size:0.8em;
 color:#666666;
 line-height: 2.0;
 margin-bottom: 30px;
 overflow-wrap: anywhere;
 word-break: break-word;
}

p.profile-txt{
font-size:0.8em;
 color:#666666;
 line-height: 2.0;
 margin-bottom: 100px;
 overflow-wrap: anywhere;
 word-break: break-word;
}

.titletype {
 Width:	100%;
 }

.catchcopy {
 text-align:center;
 color:#666666;
 width:100%;
 margin:0 auto;
 line-height: 2.0;
}

div.title{
background-image: linear-gradient(#b8b8b2, #ededdf 15% 64%, #e0e0a6);
}

div.titleimg{
 background-image: url(../images/bg-title.png);
 background-repeat:repeat;
 background-size:60%;
 padding: 50px 20px 100px;
}

div.profileimg{
 background-image: url(../images/bg-title.png);
 background-repeat:repeat;
 background-size:60%;
 padding: 50px 20px 0px;
}

div.seasonboard {background-color: #000000;
background-image: url(../images/seasonborad.png);
background-repeat: no-repeat;
background-size: 25%;
height: 35px;
background-position: center;}

div.season{
    background-color: #b1d9dc;
    background-image: linear-gradient(#a2bdc6, #d3e5ed 50%, #a2bdc6);
}
div.seasonimg{
 background-image: url(../images/bg-season.png);
 background-repeat:repeat;
 background-size:10%;
 background-position:0px 0;
 padding: 20px;
 border-bottom: #000000 8px solid;
}

img.season{width:90%;
margin:0 auto;}


div.door{
    background-color: #deddc2;
    background-image: linear-gradient(#c2c08f, #ededdf 50%, #c2c08f);
}
div.doorimg{
 background-image: url(../images/bg-title2.png);
 background-repeat:repeat;
 background-size:35%;
 background-position:0px 900px;
 padding: 80px 20px 120px;
}

div.window{
    background-color: #b5b592; 
    background-image: linear-gradient(#989870, #cdcdae 50%, #989870);
}
div.windowimg{
 background-image: url(../images/bg-title3.png);
 background-repeat:repeat;
 background-size:25%;
 background-position:0px 105px;
 padding: 80px 20px 0px;
}

h2 {
 width: 40%;
 Margin:30px auto 40px;
 Padding:0;
}

.bt {
 Width:	100%;
}

ul.doornav{
  display: flex;
  flex-wrap: wrap;
  gap: 5%;        /* いまの margin-right:5% 相当 */
  padding: 0;
  margin: 0;
  list-style: none;
}

/* li の共通 */
ul.doornav > li.item{
  box-sizing: border-box;
  flex: 1 1 30%;  /* 基本は3列のイメージ */
  display: block;

  background-repeat: no-repeat;
  background-size: contain;
}

/* 背景画像だけ差し替え */
li.illust{ background-image: url(../images/illust.png); }
li.illust:hover{ background-image: url(../images/illust-ov.png); }
li.poem  { background-image: url(../images/poem.png); }
li.poem:hover{ background-image: url(../images/poem-ov.png); }
li.haiku { background-image: url(../images/haiku.png); }
li.haiku:hover{ background-image: url(../images/haiku-ov.png); }

/* a と img をブロックにしてクリック領域を安定させる */
ul.doornav > li.item > a{
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}

/* SNS全体：横並び→狭ければ自動で縦並び */
.sns-area{
  padding: 0 0 0px;
  margin: 0;
}

.sns-item{
margin: 0 auto;
text-align: center;
color: #000000;
font-size: 0.8em;
}


.sns-whole{
  text-align:center;
  text-decoration:none;
}
.sns-text{
  font-size:0.8em;
  overflow-wrap: anywhere;
  word-break: break-word;
  color:#666666;
  line-height: 1.0;
  text-decoration:none;
}

a.sns-text:hover{
  text-decoration:underline;
  color:#4F3F67;
}

.sns-whole:hover .sns-text{
  text-decoration:underline;
  color:#4F3F67;
}
.profilearea{
display: flex;
flex-wrap: wrap;
margin: 80px auto 30px;
width: 15%;
}

a.profile{
  box-sizing: border-box;
  flex: 1 1 17%;  /* 基本は3列のイメージ */
  display: block;
  width:100%;         /* ←当たり判定を固定 */
  height: 30px; /* 画像比率に合わせる（不要ならheight指定でもOK） */
  /* height: 60px; などでもOK */
  background-repeat:no-repeat;
  background-size:contain;
  background-position:left center;
  cursor:pointer;
}

/* 通常時 */
a.profile{ background-image:url(../images/profile.png); 
}

/* hover時 */
a.profile:hover{ background-image:url(../images/profile-ov.png); }

/***************************************************
 * Generated by SVG Artista on 11/16/2025, 5:30:34 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-fill-1 0.7s ease-in 0.5s both;
          animation: animate-svg-fill-1 0.7s ease-in 0.5s both;
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-fill-2 0.7s ease-in 0.6s both;
          animation: animate-svg-fill-2 0.7s ease-in 0.6s both;
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-fill-3 0.7s ease-in 0.7s both;
          animation: animate-svg-fill-3 0.7s ease-in 0.7s both;
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-fill-4 0.7s ease-in 0.8s both;
          animation: animate-svg-fill-4 0.7s ease-in 0.8s both;
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-fill-5 0.7s ease-in 0.9s both;
          animation: animate-svg-fill-5 0.7s ease-in 0.9s both;
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-fill-6 0.7s ease-in 1s both;
          animation: animate-svg-fill-6 0.7s ease-in 1s both;
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-fill-7 0.7s ease-in 1.1s both;
          animation: animate-svg-fill-7 0.7s ease-in 1.1s both;
}

@-webkit-keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-8 {
  -webkit-animation: animate-svg-fill-8 0.7s ease-in 1.2000000000000002s both;
          animation: animate-svg-fill-8 0.7s ease-in 1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-9 {
  -webkit-animation: animate-svg-fill-9 0.7s ease-in 1.3s both;
          animation: animate-svg-fill-9 0.7s ease-in 1.3s both;
}

@-webkit-keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-10 {
  -webkit-animation: animate-svg-fill-10 0.7s ease-in 1.4s both;
          animation: animate-svg-fill-10 0.7s ease-in 1.4s both;
}

@-webkit-keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-11 {
  -webkit-animation: animate-svg-fill-11 0.7s ease-in 1.5s both;
          animation: animate-svg-fill-11 0.7s ease-in 1.5s both;
}

@-webkit-keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-12 {
  -webkit-animation: animate-svg-fill-12 0.7s ease-in 1.6s both;
          animation: animate-svg-fill-12 0.7s ease-in 1.6s both;
}

@-webkit-keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-13 {
  -webkit-animation: animate-svg-fill-13 0.7s ease-in 1.7000000000000002s both;
          animation: animate-svg-fill-13 0.7s ease-in 1.7000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-14 {
  -webkit-animation: animate-svg-fill-14 0.7s ease-in 1.8s both;
          animation: animate-svg-fill-14 0.7s ease-in 1.8s both;
}

@-webkit-keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-15 {
  -webkit-animation: animate-svg-fill-15 0.7s ease-in 1.9000000000000001s both;
          animation: animate-svg-fill-15 0.7s ease-in 1.9000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-16 {
  -webkit-animation: animate-svg-fill-16 0.7s ease-in 2s both;
          animation: animate-svg-fill-16 0.7s ease-in 2s both;
}

@-webkit-keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-17 {
  -webkit-animation: animate-svg-fill-17 0.7s ease-in 2.1s both;
          animation: animate-svg-fill-17 0.7s ease-in 2.1s both;
}

@-webkit-keyframes animate-svg-fill-18 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-18 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-18 {
  -webkit-animation: animate-svg-fill-18 0.7s ease-in 2.2s both;
          animation: animate-svg-fill-18 0.7s ease-in 2.2s both;
}

@-webkit-keyframes animate-svg-fill-19 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-19 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-19 {
  -webkit-animation: animate-svg-fill-19 0.7s ease-in 2.3s both;
          animation: animate-svg-fill-19 0.7s ease-in 2.3s both;
}

@-webkit-keyframes animate-svg-fill-20 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-20 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-20 {
  -webkit-animation: animate-svg-fill-20 0.7s ease-in 2.4000000000000004s both;
          animation: animate-svg-fill-20 0.7s ease-in 2.4000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-21 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-21 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-21 {
  -webkit-animation: animate-svg-fill-21 0.7s ease-in 2.5s both;
          animation: animate-svg-fill-21 0.7s ease-in 2.5s both;
}

@-webkit-keyframes animate-svg-fill-22 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-22 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-22 {
  -webkit-animation: animate-svg-fill-22 0.7s ease-in 2.6s both;
          animation: animate-svg-fill-22 0.7s ease-in 2.6s both;
}

@-webkit-keyframes animate-svg-fill-23 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-23 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-23 {
  -webkit-animation: animate-svg-fill-23 0.7s ease-in 2.7s both;
          animation: animate-svg-fill-23 0.7s ease-in 2.7s both;
}

@-webkit-keyframes animate-svg-fill-24 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-24 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-24 {
  -webkit-animation: animate-svg-fill-24 0.7s ease-in 2.8000000000000003s both;
          animation: animate-svg-fill-24 0.7s ease-in 2.8000000000000003s both;
}

@-webkit-keyframes animate-svg-fill-25 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-25 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-25 {
  -webkit-animation: animate-svg-fill-25 0.7s ease-in 2.9000000000000004s both;
          animation: animate-svg-fill-25 0.7s ease-in 2.9000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-26 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-26 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-26 {
  -webkit-animation: animate-svg-fill-26 0.7s ease-in 3s both;
          animation: animate-svg-fill-26 0.7s ease-in 3s both;
}

@-webkit-keyframes animate-svg-fill-27 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-27 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-27 {
  -webkit-animation: animate-svg-fill-27 0.7s ease-in 3.1s both;
          animation: animate-svg-fill-27 0.7s ease-in 3.1s both;
}

@-webkit-keyframes animate-svg-fill-28 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-28 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-28 {
  -webkit-animation: animate-svg-fill-28 0.7s ease-in 3.2s both;
          animation: animate-svg-fill-28 0.7s ease-in 3.2s both;
}

@-webkit-keyframes animate-svg-fill-29 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-29 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-29 {
  -webkit-animation: animate-svg-fill-29 0.7s ease-in 3.3000000000000003s both;
          animation: animate-svg-fill-29 0.7s ease-in 3.3000000000000003s both;
}

@-webkit-keyframes animate-svg-fill-30 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-30 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-30 {
  -webkit-animation: animate-svg-fill-30 0.7s ease-in 3.4000000000000004s both;
          animation: animate-svg-fill-30 0.7s ease-in 3.4000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-31 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-31 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-31 {
  -webkit-animation: animate-svg-fill-31 0.7s ease-in 3.5s both;
          animation: animate-svg-fill-31 0.7s ease-in 3.5s both;
}

@-webkit-keyframes animate-svg-fill-32 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-32 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svg-elem-32 {
  -webkit-animation: animate-svg-fill-32 0.7s ease-in 3.6s both;
          animation: animate-svg-fill-32 0.7s ease-in 3.6s both;
}


@media (max-width: 640px) {
h1 {
 width:90%;
 Margin:30px auto  10px;
 Padding:0;
}

.catchcopy {
font-size: 0.6em;
}

p.topcatch{
font-size: 0.6em;
}

h1.profile{
width:50%;
margin:50px auto 30px;
}

div.titleimg{
 padding: 0px 20px 30px;
}

div.profileimg{
 padding: 0px 20px 0px;
}

div.doorimg{
 padding: 30px 20px 30px;
}

div.windowimg{
 padding: 30px 20px 0;
}

h2 {
 width: 50%;
 Margin:20px auto 30px;
 Padding:0;
}

p.profile-txt{
 margin-bottom: 30px;
 
}

p.topcatch{margin-bottom: 30px;}

  ul.doornav{
    gap: 5%;       /* 縦並び時は%より固定の方が扱いやすいことが多いです */
  }
  ul.doornav > li.item{
    flex-basis: 30%;
  }

.sns-area{
  padding: 0px;
  flex: 1 1 45%;
}

  .sns-logo-img{
  width: 20%;        /* 好みで調整：150〜220pxあたり */
  margin: 0 auto 10px;
}

.profilearea{
display: flex;
flex-wrap: wrap;
margin: 30px auto 30px;
width: 20%;
}

.sns-text{
  line-height: 1.0;
}

.sns-item{font-size: 0.6em;}

}

@media (hover: hover) and (pointer: fine) {
li.illust{ background-image: url(../images/illust.png); }
li.illust:hover{ background-image: url(../images/illust-ov.png); }
li.poem  { background-image: url(../images/poem.png); }
li.poem:hover{ background-image: url(../images/poem-ov.png); }
li.haiku { background-image: url(../images/haiku.png); }
li.haiku:hover{ background-image: url(../images/haiku-ov.png); }

a.profile{ background-image:url(../images/profile.png); 
}
a.profile:hover{ background-image:url(../images/profile-ov.png); }
}

@media (hover: none) and (pointer: coarse) {
li.illust{ background-image: url(../images/illust.png); }
li.illust:hover{ background-image: url(../images/illust.png); }
li.poem  { background-image: url(../images/poem.png); }
li.poem:hover{ background-image: url(../images/poem.png); }
li.haiku { background-image: url(../images/haiku.png); }
li.haiku:hover{ background-image: url(../images/haiku.png); }

a.profile{ background-image:url(../images/profile.png); 
}
a.profile:hover{ background-image:url(../images/profile.png); }
}