h1 {
 width:100%;
 Margin:80px auto;
 Padding:0;
 text-align: center;
}

.titletype {
 Width:	30%;
 }

.catchcopy {
 Text-align:center;
 Color:#666666;
 Width:98%;
 Padding:3px 25px;
 Margin:0 auto;
}

div.title{
background-image: linear-gradient(#d6d8da, #d8e3e8 15% 64%, #e4d7f5);
}

div.content{
background-image: linear-gradient(#e4d7f5,#eee4ce 8% 10%,#cedfe6 40% 64%, #eee4ce);
}

div.titleimg{
 background-image: url(../images/bg-illust.png);
 background-repeat:repeat;
 background-size:30%;
 padding: 10px 20px 10px;
}

div.contentimg{
 background-image: url(../images/bg-illust2.png);
 background-repeat:repeat;
 background-size:15%;
 padding: 0px;
}

div.seasonboard {background:rgba(119, 142, 147, 0.3);
margin:30px auto 80px;
padding: 10px 20px 20px;
width: 88%;}

img.seasonboard {width: 20%;
margin: 0px auto 10px;}


div.season{
    background-color: #b1d9dc;
    background-image: linear-gradient(#a2bdc6, #d3e5ed 50%, #a2bdc6);
    margin:0 auto;
    width: 100%;
  }
div.seasonimg{
 background-image: url(../season/images/bg-season.png);
 background-repeat:repeat;
 background-size:10%;
 background-position:0px 0;
 padding: 20px;
}

img.season{width:90%;
margin:0 auto;}

div.illust-position{
    width: 100%;
    margin: 0px auto 0;
    background-color: rgba(114, 114, 114, 0.3);
    padding:80px;
}

p.text {
   color:#666666;
   Font-size:0.8em;
   Text-align:center;
   font-style: normal;
   margin: 50px 0;
}


img.album{width: 100%;
}

h2 {
 width: 40%;
 Margin:30px auto 30px;
 Padding:0;
}

.bt {
 Width:	100%;
}

ul.img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  list-style: none;
    margin: 0px auto;
    padding: 0 5%;
}

li.img-list{
  box-sizing: border-box;
  flex: 1 1 18%;  /* 基本は3列のイメージ */
  display: block;
margin-bottom: 80px;}

ul.img-list > li.img-list > a{
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}

.img{width:90%;}

img.img{
border-color: rgba(114, 114, 114, 0.3);
border-width: 3px;
border-style:  solid;
}

@media (max-width: 640px) {
h1 {
 width:100%;
 Margin:10px auto;
 Padding:0;
 text-align: center;
}

.titletype {
 Width:	60%;
 }

div.seasonboard {
margin:30px auto;
width:86%;
padding:8px;
}

img.seasonboard {margin: 0px auto 8px;}

li.img-list{
  box-sizing: border-box;
  flex: 1 1 48%;  /* 基本は3列のイメージ */
  display: block;
margin-bottom: 10px;}

div.illust-position{
    width: 100%;
    margin: 0px auto 0;
    padding:20px;}

p.text{margin:20px auto;}


}