*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, p, ul, li {
 margin: 0px;
 padding: 0px;
 width:100%;
 overflow-x: hidden;
 font-family: sans-serif;
 box-sizing: border-box;
 max-width: 100%;
}

button {
padding:0;
margin: 0;}

html,body {
Height:100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

p {
 color:#666666;
 Font-size:0.8em;
 Text-align:center;
}
span.text {
    filter: drop-shadow(3px 3px 3px rgb(183, 183, 175)); /* Xオフセット, Yオフセット, ぼかし半径, 色 */
}

#malenia-body {
 Background-color:#533d6a;
 Background-image: url(../images/bg-main.png);
 Background-repeat:repeat;
 background-size:5%;
 Background-position:center;
}


#main {
 margin:0px auto;
 Width:85%;
 height:100%;
 border-right:8px solid;
 border-left:8px solid;
 border-color: #000000;
 background-attachment: scroll;
 background-color: #000000;
}

h1 {
 width:80%;
 Margin:70px auto 30px;
 Padding:0;
}

div.footer{
    background-color: #000000;
    padding: 10px 20px 10px;
    color:#ffffff;
    font-size: 0.5em;
    text-align: center;
    clear:both;
}

h2 {
 width: 40%;
 Margin:30px auto 30px;
 Padding:0;
}

ul {
    clear: both;
}

a:link{color:#363636;}
a:hover{color:#5e1c1c;}
a:visited{color:#363636;}
a:active{color:#5e1c1c;}

.pagearea{
display: flex;
flex-wrap: wrap;
gap: 5%;  
margin: 50px auto 100px;
overflow: hidden;
width: 50%;
}

a.nav{
  box-sizing: border-box;
  flex: 1 1 30%;  /* 基本は3列のイメージ */
  display:block;          /* ←当たり判定を固定 */
  height: 20px; /* 画像比率に合わせる（不要ならheight指定でもOK） */
  /* height: 60px; などでもOK */
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
  cursor:pointer;
}

/* 通常時 */
a.back{ background-image:url(../../common/images/back.png); 
}
a.next{ background-image:url(../../common/images/next.png);
}

/* hover時 */
a.back:hover{ background-image:url(../../common/images/back-ov.png); }
a.next:hover{ background-image:url(../../common/images/next-ov.png);}

.rinkarea{
display: flex;
flex-wrap: wrap;
gap: 4%;   
margin: 50px auto 10px;
width: 70%;
overflow: hidden;
}

a.nav-m{
  box-sizing: border-box;
  flex: 1 1 17%;  /* 基本は3列のイメージ */
  display: block;    /* ←当たり判定を固定 */
  height:28px;  /* height: 60px; などでもOK */
  background-repeat:no-repeat;
  background-size:contain;
  background-position:left center;
  cursor:pointer;
}


/* 通常時 */
a.bt-home{ background-image:url(../../common/images/bt-home.png); 
}
a.bt-illust{ background-image:url(../../common/images/bt-illust.png);
}
a.bt-poem{ background-image:url(../../common/images/bt-poem.png); 
}
a.bt-haiku{ background-image:url(../../common/images/bt-haiku.png);
}

/* hover時 */
a.bt-home:hover{ background-image:url(../../common/images/bt-home-ov.png); }
a.bt-illust:hover{ background-image:url(../../common/images/bt-illust-ov.png);}
a.bt-poem:hover{ background-image:url(../../common/images/bt-poem-ov.png); }
a.bt-haiku:hover{ background-image:url(../../common/images/bt-haiku-ov.png);}

.pagetop{
display: flex;
flex-wrap: wrap;
margin: 0 auto 10px;
width: 10%;
}

a.page-t{
  box-sizing: border-box;
  flex: 1 1 17%;  /* 基本は3列のイメージ */
  display: block;
  width:100%;
  display:block;          /* ←当たり判定を固定 */
  height: 20px; /* 画像比率に合わせる（不要ならheight指定でもOK） */
  /* height: 60px; などでもOK */
  background-repeat:no-repeat;
  background-size:contain;
  background-position:left center;
  cursor:pointer;
}

/* 通常時 */
a.page-t{ background-image:url(../../common/images/top.png); 
}

/* hover時 */
a.page-t:hover{ background-image:url(../../common/images/top-ov.png); }



.none {
 display: none;
}

@media (max-width: 640px) {
 #main, {
    padding: 28px 16px;
  }

  body {
    font-size: 16px;
    line-height: 1.8;
  }

.pagetop{
margin: 30px auto;
width: 30%;
}

a.page-t{
  flex: 1 1 100%;  /* 基本は3列のイメージ */
  height:20px;  /* height: 60px; などでもOK */
/* 画像比率に合わせる（不要ならheight指定でもOK） */
  background-position: center;
}

.pagearea{
margin: 30px auto;
width: 40%;
}

a.nav{
  flex: 1 1 100%;  /* 基本は3列のイメージ */
  height:20px;  /* height: 60px; などでもOK */
  margin-bottom: 10px;
  background-position: left;
  background-position: center;
}

.rinkarea{
clear: both;
margin: 0px auto 10px;
width: 40%;
overflow: hidden;
}

a.nav-m{
  flex: 1 1 100%;  /* 基本は3列のイメージ */
  height:20px;  /* height: 60px; などでもOK */
  margin-bottom: 10px;
  background-position: center;
}
}

@media (hover: hover) and (pointer: fine) {
a.back{ background-image:url(../../common/images/back.png); 
}
a.next{ background-image:url(../../common/images/next.png);
}
a.back:hover{ background-image:url(../../common/images/back-ov.png); }
a.next:hover{ background-image:url(../../common/images/next-ov.png);}

a.bt-home{ background-image:url(../../common/images/bt-home.png); 
}
a.bt-illust{ background-image:url(../../common/images/bt-illust.png);
}
a.bt-poem{ background-image:url(../../common/images/bt-poem.png); 
}
a.bt-haiku{ background-image:url(../../common/images/bt-haiku.png);
}
a.bt-home:hover{ background-image:url(../../common/images/bt-home-ov.png); }
a.bt-illust:hover{ background-image:url(../../common/images/bt-illust-ov.png);}
a.bt-poem:hover{ background-image:url(../../common/images/bt-poem-ov.png); }
a.bt-haiku:hover{ background-image:url(../../common/images/bt-haiku-ov.png);}

a.page-t{ background-image:url(../../common/images/top.png); 
}
a.page-t:hover{ background-image:url(../../common/images/top-ov.png); }

}

@media (hover: none) and (pointer: coarse) {
a.back{ background-image:url(../../common/images/back.png); 
}
a.next{ background-image:url(../../common/images/next.png);
}
a.back:hover{ background-image:url(../../common/images/back.png); }
a.next:hover{ background-image:url(../../common/images/next.png);}

a.bt-home{ background-image:url(../../common/images/bt-home.png); 
}
a.bt-illust{ background-image:url(../../common/images/bt-illust.png);
}
a.bt-poem{ background-image:url(../../common/images/bt-poem.png); 
}
a.bt-haiku{ background-image:url(../../common/images/bt-haiku.png);
}
a.bt-home:hover{ background-image:url(../../common/images/bt-home.png); }
a.bt-illust:hover{ background-image:url(../../common/images/bt-illust.png);}
a.bt-poem:hover{ background-image:url(../../common/images/bt-poem.png); }
a.bt-haiku:hover{ background-image:url(../../common/images/bt-haiku.png);}

a.page-t{ background-image:url(../../common/images/top.png); 
}
a.page-t:hover{ background-image:url(../../common/images/top.png); }
}