h1 {
 width:100%;
 Margin:80px auto 50px;
 Padding:0;
 text-align: center;
}

.titletype {
 Width:	30%;
 }

.catchcopy {
 Text-align:center;
 Color:#666666;
 Width:98%;
 Padding:3px 25px;
 Margin:0 auto;
}

div.title{
background-image: linear-gradient(#949a84,#c0d1ae 15% 64%, #98beb9);
}

div.content{
background-image: linear-gradient(#98beb9,#c5cba6 3% 10%, #c0d1ae 40% 64%, #c5cba6);
}

div.titleimg{
 background-image: url(../images/bg-haiku.png);
 background-repeat:repeat;
 background-size:30%;
 padding: 10px 20px 10px;
}

div.contentimg{
 background-image: url(../images/bg-haiku.png);
 background-repeat:repeat;
 background-size:15%;
 padding: 10px 20px 10px;
 overflow: hidden;
}

.buttonarea{
margin: 0 60px 30px;
background-image: url(../images/category.svg);
background-size: 100px;
padding:0 105px 0;
background-repeat: no-repeat;
background-position: left;
}

.haiku-area{overflow: hidden;}

.haiku{
padding: 40px 0 25px;
width:20%;
margin:0px 60px 100px;
float: left;
height: 680px;  
}

.grazia{
background:rgba(255, 255, 255, 0.5);
border: solid #a49f75 5px;
}

.forza{
background:rgba(255, 255, 255, 0.5);
border: solid #6f8467 5px;

}

.calma{
background:rgba(255, 255, 255, 0.5);
border: solid #817e66 5px;
}

.haiku-grazia{
margin: 0 auto;
background-image: url(../images/grazia.svg);
background-size: 60%;
background-position: center bottom;
background-repeat: no-repeat;
height: 100%;
text-align: center;
}

.haiku-forza{
margin: 0 auto;
background-image: url(../images/forza.svg);
background-size: 60%;
background-position: center bottom;
background-repeat: no-repeat;
height: 100%;
text-align: center;
}

.haiku-calma{
margin: 0 auto;
background-image: url(../images/calma.svg);
background-size: 60%;
background-position: center bottom;
background-repeat: no-repeat;
height: 100%;
text-align: center;
}

p.haiku-txt {
  font-size: 1.6em;
  margin:0 auto;
  width: 40px;
  writing-mode: vertical-rl;
  text-align: center;
}

h3{font-size:1.2em;
color: #644165;
text-align:center;
margin-bottom:30px;
border-bottom: #7a5f75 1px solid;
padding-bottom: 15px;}

h2 {
 width: 40%;
 Margin:30px auto 30px;
 Padding:0;
}

.bt {
 Width:	100%;
}

.icon-img {
  width:60px;
  height: 60px;
  cursor: pointer;
}

.catg-h{
  padding: 0;
  border: none;
  cursor: pointer;
  margin-left:5px;
}


img.bt-haiku{width: 100%;}