h1 {
 width:100%;
 Margin:80px auto 50px;
 Padding:0;
 text-align: center;
}

.titletype {
 Width:	30%;
 }

div.title{
background-image: linear-gradient(#949a84,#c0d1ae 15% 64%, #98beb9);
}

div.content{
background-image: linear-gradient(#98beb9,#c5cba6 3% 10%, #c0d1ae 40% 64%, #c5cba6);
}

div.titleimg{
 background-image: url(../images/bg-haiku.png);
 background-repeat:repeat;
 background-size:30%;
 padding: 10px 20px 10px;
}

div.contentimg{
 background-image: url(../images/bg-haiku.png);
 background-repeat:repeat;
 background-size:15%;
 padding: 0px 20px 10px;
 overflow: hidden;
}

.buttonarea{
margin: 0 60px 30px;
background-image: url(../images/category.svg);
background-size: 20%;
padding:0 20% 0;
background-repeat: no-repeat;
background-position: left;
}

.haiku-area{
display: flex;
flex-wrap: wrap;
gap: 12%;  
  overflow: hidden;
width: 90%;
margin: 0 auto;
}

.haiku{
  box-sizing: border-box;
  flex: 0 1 25%;  /* 基本は3列のイメージ */
  display:block;
padding: 40px 0 25px;
margin:0px 0 100px;
height: 45rem;  
}

.grazia{
background:rgba(255, 255, 255, 0.5);
border: solid #a49f75 5px;
}

.forza{
background:rgba(255, 255, 255, 0.5);
border: solid #6f8467 5px;

}

.calma{
background:rgba(255, 255, 255, 0.5);
border: solid #817e66 5px;
}

.haiku-grazia{
margin: 0 auto;
background-image: url(../images/grazia.svg);
background-size: 60%;
background-position: center bottom;
background-repeat: no-repeat;
height: 100%;
text-align: center;
}

.haiku-forza{
margin: 0 auto;
background-image: url(../images/forza.svg);
background-size: 60%;
background-position: center bottom;
background-repeat: no-repeat;
height: 100%;
text-align: center;
}

.haiku-calma{
margin: 0 auto;
background-image: url(../images/calma.svg);
background-size: 60%;
background-position: center bottom;
background-repeat: no-repeat;
height: 100%;
text-align: center;
}

p.haiku-txt {
  font-size: 1.6em;
  margin:0 auto;
  width: 70px;
  writing-mode: vertical-rl;
  text-align: left;
}

.haiku-al{
font-size: 0.6em;
overflow-wrap: anywhere;
word-break: break-word;
color: #999999;
}

.bt {
 Width:	100%;
}

.icon-img {
  width:60px;
  height: 60px;
  cursor: pointer;
  display: block;
}

.catg-h{
  padding: 0;
  border: none;
  cursor: pointer;
  margin-left:5px;
}
.none {
 display: none;
}

img.bt-haiku{width: 100%;}

@media (max-width: 640px) {
h1 {
 width:100%;
 Margin:10px auto;
 Padding:0;
 text-align: center;
}

.titletype {
 Width:	60%;
 }

.buttonarea{
margin: 0 0 10px;
background-image: url(../images/category.svg);
background-size: 30%;
padding:10% 0 0;
background-repeat: no-repeat;
background-position: top left;
}

.icon-img {
  width:50px;
  height: 50px;
  cursor: pointer;
  display: block;
}

.haiku-area{
width: 100%;
}

.haiku{
  box-sizing: border-box;
  flex: 1 1 100%;  /* 基本は3列のイメージ */
  display:block;
padding: 5px;
margin:0px 0 30px;
height: auto;
}

.grazia{
background:rgba(255, 255, 255, 0.5);
border: solid #a49f75 2px;
}

.forza{
background:rgba(255, 255, 255, 0.5);
border: solid #6f8467 2px;

}

.calma{
background:rgba(255, 255, 255, 0.5);
border: solid #817e66 2px;
}

.haiku-grazia{
margin: 0 auto;
background-image: url(../images/grazia.svg);
background-size: 15%;
background-position: right center;
background-repeat: no-repeat;
height: 100%;
text-align: right;
padding: 30px 5px;
}

.haiku-forza{
margin: 0 auto;
background-image: url(../images/forza.svg);
background-size: 15%;
background-position: right center;
background-repeat: no-repeat;
height: 100%;
text-align: center;
padding: 30px 5px;
}

.haiku-calma{
margin: 0 auto;
background-image: url(../images/calma.svg);
background-size: 15%;
background-position: right center;
background-repeat: no-repeat;
height: 100%;
text-align: center;
padding: 30px 5px;
}

p.haiku-txt {
  font-size: 0.7em;
  width: 100%;
  writing-mode: horizontal-tb;
  text-align: left;
    overflow-wrap: anywhere;
  word-break: break-word;
}

.haiku-al{
font-size: 0.8em;
color:#666666;
}

.none {
 display: none;
}
}